@import "./_variables.sass";
@import "~bulma/bulma.sass";

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Libre Baskerville", serif;
    font-weight: normal;
    color: $title-color;
  }
}

.navbar-item img {
  max-height: initial;
}

// .navbar {
//   background-color: #242021;
// }

.is-text-centered {
  text-align: center;
}

.pb-7 {
  padding-bottom: 3.5rem !important;
}

.pb-8 {
  padding-bottom: 4rem !important;
}

.pb-9 {
  padding-bottom: 4.5rem !important;
}

.columns.is-variable.is-10 {
  --columnGap: 4rem;
}
